/* 本文件为链接 hover 样式 —— 块底纹 */
/* 链接长度不要跨行 */
/* 来源 https://hexo.theme.oranges.zcheng.site/css-animation-design.html */
/* ================================================================= */


span:is([md-inline="link"], [md-inline="url"]) {
  position: relative;
}

span:is([md-inline="link"], [md-inline="url"]).md-link:hover {
  z-index: 1;
}

span:is([md-inline="link"], [md-inline="url"]).md-link:hover a {
  color     : var(--hover-link-bg-text-color) !important;
  transition: transform .3s linear;
}

span:is([md-inline="link"], [md-inline="url"]).md-link::after {
  content         : "";
  position        : absolute;
  top             : -1px;
  bottom          : -2px;
  left            : -2px;
  right           : -3px;
  transition      : transform .3s linear;
  background      : linear-gradient(var(--hover-link-bg-top-color), var(--hover-link-bg-bottom-color));
  transform       : scaleY(0);
  transform-origin: bottom;
  z-index         : -1;
  border-radius   : 2px;
}

span:is([md-inline="link"], [md-inline="url"]).md-link:hover::after {
  transform: scaleY(1);
}