/* 当前版本: 1.3.3 */
/* 本主题魔改于 typora-vue-theme 主题 */
/* 本主题 GitHub 地址：https://github.com/jinghu-moon/typora-see-yue-theme */
/* 有问题请到 GitHub 上提 Issues 或者 QQ 联系我。我的 QQ 号：2027004326 */


/* 字体引用 */
@import "./SeeYue/CSS/fonts.css";

/* root 属性 */
@import "./SeeYue/CSS/root-element.css";

/* 零散的样式修改 */
@import "./SeeYue/CSS/code-snippet.css";

/* 正文标题 */
@import "./SeeYue/CSS/headline.css";

/* 正文目录 */
@import "./SeeYue/CSS/contents.css";

/* 代码块 */
@import "./SeeYue/CSS/code-block.css";

/* 侧边栏 */
@import "./SeeYue/CSS/sidebar.css";

/* 导出 PDF 设置 */
@import "./SeeYue/CSS/to-pdf.css";

/* 图片设置 */
@import "./SeeYue/CSS/images.css";

/* 列表设置 */
@import "./SeeYue/CSS/list.css";

/* 脚注设置 */
@import "./SeeYue/CSS/footnote.css";

/* 代码块显示代码语言 */
@import "./SeeYue/CSS/code-language.css";

/* 网页logo */
/* @import "./SeeYue/CSS/favicon.css"; */



/* ———————————————————————————————————————— 正文设置 ———————————————————————————————————————————— */

html {
  /* 全局字体大小 */
  font-size: var(--interface-default-text-size);

  /* 全局背景图片 */
  background-image              : var(--interface-default-bg-img);
  background-size               : cover !important;
  background-repeat             : no-repeat;
  background-position           : center;
  background-attachment         : fixed;
  /* background                 : no-repeat center/cover var(--interface-default-bg-img) rgba(255, 255, 255, 0.4) fixed; */
}

/* 全局背景色 */
content,
.on-focus-mode content {
  background-color: var(--interface-default-bg-color) !important;
}

#typora-source {
  top   : 0;
  bottom: 0;
}

/* 毛玻璃效果 */
#write,
/* 源代码模式 */
#typora-source .CodeMirror-lines {
  position       : relative;
  /* 文字区域透明度 */
  background     : var(--interface-text-area-bg-color);
  backdrop-filter: blur(var(--interface-default-bg-img-blur));
}

body {
  font-family   : var(--interface-default-text-font) !important;
  color         : var(--interface-default-text-color);
  letter-spacing: 0;
  margin        : 0;
  box-sizing    : border-box;
  /* 文字两端对齐 */
  text-align    : var(--interface-default-text-align-style);
}

/* 页面宽度 */
#write {
  max-width: var(--interface-default-content-width);
  margin   : 0 auto;
  padding  : 20px 30px 100px;
}

/* 源代码模式 */
#typora-source .CodeMirror-lines {
  max-width: var(--interface-default-content-width);
}

/* 行间距 */
#write p {
  line-height: var(--interface-default-text-line-height);
}

/* 统一段距 */
p,
blockquote,
ul,
ol,
dl,
table {
  margin-top   : 1rem;
  margin-bottom: var(--interface-default-text-paragraph-height);
}

.typora-node #write {
  min-height   : 100%;
  top          : 0;
  padding-left : 45px;
  padding-right: 45px;
}

#write>ul:first-child,
#write>ol:first-child {
  margin-top: 30px;
}

body>*:first-child {
  margin-top: 0 !important;
}

body>*:last-child {
  margin-bottom: 0 !important;
}

li>ol,
li>ul {
  margin: 0;
}

body>h2:first-child {
  margin-top : 0;
  padding-top: 0;
}

body>h1:first-child {
  margin-top : 0;
  padding-top: 0;
}

body>h1:first-child+h2 {
  margin-top : 0;
  padding-top: 0;
}

body>h3:first-child,
body>h4:first-child,
body>h5:first-child,
body>h6:first-child {
  margin-top : 0;
  padding-top: 0;
}

a:first-child h1,
a:first-child h2,
a:first-child h3,
a:first-child h4,
a:first-child h5,
a:first-child h6 {
  margin-top : 0;
  padding-top: 0;
}

h1 p,
h2 p,
h3 p,
h4 p,
h5 p,
h6 p {
  margin-top: 0;
}

/* ————————————————————————————————————————————— 列表设置 ———————————————————————————————————————— */

li p.first {
  display: inline-block;
}

ul:first-child,
ol:first-child {
  margin-top: 0;
}

ul:last-child,
ol:last-child {
  margin-bottom: 0;
}

/* 有序列表缩进 */
#write ol {
  list-style  : var(--level-1-orderly-list-symbol-style);
  padding-left: var(--orderly-list-hierarchy-indentation);
}

#write ol ol {
  list-style-type: var(--level-2-orderly-list-symbol-style);
}

#write blockquote ol ol {
  list-style-type: var(--level-2-orderly-list-symbol-style);
}

#write ol ol ol {
  list-style-type: var(--level-more-orderly-list-symbol-style);
}

#write ul {
  list-style-type: var(--level-1-unordered-list-symbol-style);
  padding-left   : var(--unordered-list-hierarchy-indentation);
}

#write ul ul {
  list-style-type: var(--level-2-unordered-list-symbol-style);
}

#write ul ul ul {
  list-style-type: var(--level-more-unordered-list-symbol-style) !important;
}



/* 调整列表符号与文字的距离 */
/* #write ol li {
    text-indent: 0.2rem;
} */


/* ——————————————————————————————————————————— 引用块基础设置 ————————————————————————————————————— */

/*引用基础设置*/
blockquote {
  border-left     : var(--blockquote-left-border);
  padding         : 10px 10px;
  color           : var(--blockquote-text-color);
  background-color: var(--blockquote-bg-color);
  border-radius   : var(--blockquote-bg-radius);
  font-size       : var(--blockquote-text-size);
  font-family     : var(--blockquote-text-font);
  margin-left     : 10px;
  margin-right    : 10px;
}

blockquote p {
  margin: .6em 0;
}

/* ————————————————————————— 引用块样式 ————————————————————————— */
blockquote>h3:first-child,
blockquote>h4:first-child,
blockquote>h5:first-child,
blockquote>h6:first-child {
  font-family   : var(--custom-blockquote-title-font);
  font-size     : var(--custom-blockquote-title-size);
  margin        : -10px -16px -5px -16px !important;
  padding       : 12px 12px 0px !important;
  display       : flex;
  align-items   : center;
  letter-spacing: 1px;
  font-weight   : normal !important;
}

/* Warning / 注意 */
blockquote>h3:first-child {
  color: var(--warning-blockquote-title-color);
}

blockquote>h3:first-child::before,
blockquote>h3.md-focus::before {
  content     : "\ea22" !important;
  font-family : "iconfont" !important;
  font-size   : var(--warning-blockquote-logo-size) !important;
  color       : var(--warning-blockquote-logo-color) !important;
  position    : relative;
  top         : 0px;
  left        : 3px;
  margin-right: var(--warning-title-and-logo-distance);
  padding     : 0;
}

/* Quote / 参考 */
blockquote>h4:first-child {
  color: var(--quote-blockquote-title-color);
}

blockquote>h4:first-child::before,
blockquote>h4.md-focus::before {
  content     : "\e626" !important;
  font-family : "iconfont" !important;
  font-size   : var(--quote-blockquote-logo-size) !important;
  color       : var(--quote-blockquote-logo-color) !important;
  position    : relative;
  top         : 0px;
  left        : 2px;
  margin-right: var(--quote-title-and-logo-distance);
  padding     : 0;
}

/* Tips / 提示 */
blockquote>h5:first-child {
  color: var(--tips-blockquote-title-color);
}

blockquote>h5:first-child::before,
blockquote>h5.md-focus::before {
  content     : "\e605" !important;
  font-family : "iconfont" !important;
  font-size   : var(--tips-blockquote-logo-size) !important;
  color       : var(--tips-blockquote-logo-color) !important;
  position    : relative;
  top         : 0px;
  left        : 2px;
  margin-right: var(--tips-title-and-logo-distance);
  padding     : 0;
}

/* Expand / 拓展 */
blockquote>h6:first-child {
  color: var(--expand-blockquote-title-color);
}

blockquote>h6:first-child::before,
blockquote>h6.md-focus::before {
  content     : "\e681" !important;
  font-family : "iconfont" !important;
  font-size   : var(--expand-blockquote-logo-size) !important;
  color       : var(--expand-blockquote-logo-color) !important;
  position    : relative;
  top         : 0px;
  left        : 1px;
  margin-right: var(--expand-title-and-logo-distance);
  padding     : 0;
}

/* —————————————————————————————————————————————— 表格设置 ——————————————————————————————————————— */
/* 表格宽度随内容增加而增加 */
figure,
figure.md-focus,
.md-table-fig,
.md-table-fig:active {
  /* 阴影模拟表格边框 */
  box-shadow   : 0 0 0 var(--table-external-border-width) var(--table-external-border-color) !important;
  border-radius: var(--table-external-border-radius);
  width        : max-content;
  min-width    : 50% !important;
  margin-top   : 1.5rem;
  margin-bottom: 1.5rem;
}

table {
  padding       : 0;
  word-break    : initial;
  border-spacing: 0;
  min-width     : 50% !important;
}

/* 固定 100% 宽度 */
/* figure,
figure.md-focus,
.md-table-fig,
.md-table-fig:active {
  border-radius: var(--table-external-border-radius);
  box-shadow   : 0 0 0 var(--table-external-border-width) var(--table-external-border-color) !important;
  margin       : 1.5rem 0;
}

table {
  padding       : 0;
  word-break    : initial;
  border-spacing: 0;
  width         : 100%;
} */

table tr {
  margin : 0;
  padding: 0;
}

/* 表头 */
table tr th {
  border       : var(--table-internal-border);
  font-weight  : normal;
  border-bottom: 2.5px solid #888;
  padding      : var(--theadText-and-border-distance);
  color        : var(--table-thead-text-color);
  font-family  : var(--table-thead-font);
}

/* 表体 */
table tbody td {
  border   : var(--table-internal-border);
  padding  : var(--tbodyText-and-border-distance);
  max-width: fit-content;
}

/* 偶数行底色 */
/* table tr:nth-child(2n) {
    background-color: #fff !important;
}

/* 奇数行底色 */
/* tbody tr:nth-child(2n-1) {
    background-color: #fff !important;
} */

/* 去掉表头上边框 */
table tr th {
  border-top: none !important;
}

/* 去掉表体最后一行下边框 */
table tbody td {
  border-bottom: none;
}

/* 去掉表格第一列左边框 */
table tr th:first-child,
table tr td:first-child {
  margin-top       : 0;
  border-left-width: 0px !important;
}

/* 去掉表格最后一列右边框 */
table tr th:last-child,
table tr td:last-child {
  margin-bottom     : 0;
  border-right-width: 0px !important;
}

/* 表格工具栏（三个小点） */
button.md-table-more {
  font-family: '霞鹜文楷';
}

.ty-table-edit {
  font-family: 'HarmonyOS-Bold';
}

/* 表格选择行列数菜单 */
.md-grid-board-wrap input {
  width        : 3.5ch;
  background   : inherit;
  text-align   : center !important;
  padding      : 0 !important;
  border-radius: 5px;
}

/* 表格选择行列数菜单 */
.md-grid-board-wrap .popover-title,
.md-grid-board-wrap {
  padding-top   : 2px;
  padding-bottom: 5px;
}

/* 表格工具栏图标 */
.ty-table-edit .btn-group-xs>.btn {
  margin-right : 5px;
  border-radius: 5px !important;
}

/* 表格删除图标 */
.md-delete-table {
  margin: 0 !important;
}

.btn-group-vertical>.btn.active,
.btn-group-vertical>.btn:active,
.btn-group-vertical>.btn:focus,
.btn-group-vertical>.btn:hover,
.btn-group>.btn.active,
.btn-group>.btn:active,
.btn-group>.btn:focus,
.btn-group>.btn:hover {
  background-color: #eaeaea;
  box-shadow      : none !important;
}

.btn-group-vertical>.btn,
.btn-group>.btn {
  position: relative;
  float   : left;
}

.btn-group-xs>.btn,
.btn-xs {
  padding    : 1px 5px;
  font-size  : 12px;
  line-height: 1.5;
}

.btn.active,
.btn:active {
  box-shadow: 0 0px 5px rgb(0 0 0 / 13%);
}

/* 表格删除图标 */
button.btn.btn-default.md-delete-table,
/* 表格行列数选择图标 */
button.btn.btn-default.md-resize-table {
  outline: none;
}

/* 表格删除图标 */
button.btn.btn-default.md-delete-table:hover {
  color     : red;
  transition: all .3s ease;
}

/* 快捷键呼出插入表格菜单整体 */
.modal-content {
  border-radius: 10px;
  width        : 70%;
}

/* 快捷键呼出插入表格菜单行列二字所在行 */
.modal-body {
  padding-left: 30px;
}

/* 插入表格菜单行列二字 */
.input-group-addon:first-child,
.input-group-addon:last-child {
  border-radius: 0;
  font-family  : 'HarmonyOS';
  font-size    : 1rem;
  font-weight  : light;
}

/* 插入表格菜单行列显示 */
#table-insert-col,
#table-insert-row {
  margin-left  : 8px;
  border-radius: 5px;
  width        : 50%;
  text-align   : center;
  font-family  : 'HarmonyOS-Contents';
  font-size    : .9rem;
}

/* 插入表格菜单插入表格 四字 */
.modal-title {
  font-size  : 1.05rem;
  font-family: 'HarmonyOS-Bold';
}

.modal-header {
  padding-left: 30px;
  margin-top  : 5px;
}

/* ———————————————————————————————————————————— 链接设置 ——————————————————————————————————————————— */

#write a {
  text-decoration : none;
  /* color        : #e2542e; */
  color           : var(--link-text-color);
  font-weight     : var(--link-text-font-weight);
  /* border-bottom: 1px dashed #e2542e; */
  border-bottom   : var(--link-text-underline);
  cursor          : pointer !important;
  transition      : all var(--link-animation-time) ease;
  position        : relative;
  font-size       : var(--link-text-size);
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

/*已被访问过的链接*/
a:visited {
  color: #d2d2d4;
}

/*鼠标悬浮在上的链接*/
#write a:hover {
  color        : var(--link-text-color-hover);
  border-bottom: var(--link-text-underline-hover);
  transition   : var(--link-animation-time);
}

/*鼠标点中激活链接*/
a:active {
  color: #d2d2d4;
}

/* 链接尾部小图标 */
#write a[href*="http"]::after {
  font-family : 'ITS';
  content     : "\e809";
  padding-left: var(--tail-logo-and-text-distance);
  display     : inline-block;
  font-size   : var(--link-text-tail-logo-size);
  opacity     : var(--link-text-tail-logo-opacity);
  font-weight : 400 !important;
  color       : var(--link-text-tail-logo-color);
  transition  : var(--link-animation-time);
  font-style  : normal !important;
}

#write a[href*="http"]:hover::after {
  color: var(--hover-link-text-tail-logo-color);
}

/* 下划线 */
u {
  background-color: inherit;
  color           : inherit;
  text-decoration : none;
  /* 下边框模拟下划线 */
  border-bottom   : var(--text-underline);
  padding-bottom  : var(--text-and-border-distance);
}


/* —————————————————————————————————————— 以下为原主题（Vue）代码 ——————————————————————————————————— */

.md-fences {
  background-color: #f8f8f8;
}

#write pre.md-meta-block {
  padding         : 1rem;
  font-size       : 85%;
  line-height     : 1.45;
  background-color: #f7f7f7;
  border          : 0;
  border-radius   : 3px;
  color           : #777777;
  margin-top      : 0 !important;
}

.mathjax-block>.code-tooltip {
  bottom: 0.375rem;
}

.md-tag {
  color: inherit;
}

.md-toc {
  margin-top    : 20px;
  padding-bottom: 20px;
}

.sidebar-tabs {
  border-bottom: none;
}

#typora-quick-open {
  border          : 1px solid #ddd;
  background-color: #f8f8f8;
}

#typora-quick-open-item {
  background-color: #fafafa;
  border-color    : #fefefe #e5e5e5 #e5e5e5 #eee;
  border-style    : solid;
  border-width    : 1px;
}

#md-notification:before {
  top: 10px;
}

/* focus mode */

.on-focus-mode blockquote {
  border-left-color: rgba(85, 85, 85, 0.12);
}

header,
.context-menu,
.megamenu-content,
footer {
  font-family: "Segoe UI", "Arial", sans-serif;
}

.file-node-content:hover .file-node-icon,
.file-node-content:hover .file-node-open-state {
  visibility: visible;
}

.mac-seamless-mode #typora-sidebar {
  background-color: var(--side-bar-bg-color);
}

.md-lang {
  color: #b4654d;
}