/* 本文件为正文目录样式设置 */
/* ================================================================= */


/* 正文目录整体 */
#write .md-toc {
  margin          : 20px 0;
  box-shadow      : 0px 0px 10px rgb(0, 0, 0, .2);
  padding         : 35px 0 20px 0;
  background-color: var(--contents-bg-color);
  border-radius   : 7px;
  /* 目录后分页 */
  page-break-after: always;
}

/* 正文目录顶部样式 */
#write .md-toc::before {
  display      : var(--contents-top-text-state);
  content      : var(--contents-top-text);
  font-family  : var(--contents-top-text-font);
  position     : relative;
  top          : var(--contents-top-text-top-position);
  margin-bottom: var(--top-text-contents-distance);
  font-size    : var(--contents-top-text-size);
  text-align   : var(--contents-top-text-align);
  color        : var(--contents-top-text-color);
  font-weight  : bolder;
  padding      : 0 2px;
  width        : 100%;
  line-height  : 1;
}

/* 正文目录内容 */
#write .md-toc .md-toc-content {
  padding: 0 10px;
  margin : 0;
  border : none;
}

/* 增大一级标题 Tab 的宽度 */
span.md-toc-item.md-toc-h1 a.md-toc-inner span {
  border-left: var(--contents-h1-tab-space);
}

/* 正文目录工具栏 */
#write .md-toc .md-toc-tooltip,
#write .md-toc:focus .md-toc-tooltip {
  background-color: transparent;
}

/* 正文目录工具栏 */
#write .md-toc .md-toc-tooltip {
  border: none;
}

/* 正文目录工具栏添加目录图标 */
#write .md-toc .md-toc-tooltip::before {
  content     : "\e67f";
  font-family : "iconfont";
  font-size   : var(--contents-toolbar-all-icon-size);
  margin-right: var(--contents-toolbar-left-text-icon-distance);
  margin-left : var(--contents-toolbar-left-text-icon-distance);
  color       : inherit;
}

/* 正文目录工具栏删除图标 */
.md-toc .md-toc-tooltip .ty-delete::before {
  font-size: var(--contents-toolbar-all-icon-size);
  /* 扩大可点击范围 */
  border   : 2px solid transparent;
}

/* 目录删除图标 */
.md-toc:focus .md-toc-tooltip .ty-delete:hover {
  color     : var(--hover-toolbar-right-delete-icon-color);
  transition: all .3s ease;
}

/* 正文目录一级标题样式 */
#write :is(.md-toc-h1, .md-toc-h1:hover) .md-toc-inner {
  font-size  : var(--contents-h1-size);
  color      : var(--contents-h1-color) !important;
  font-family: var(--contents-h1-font) !important;
}

#write :is(.md-toc-h1, .md-toc-h2, .md-toc-h3, .md-toc-h4, .md-toc-h5, .md-toc-h6) .md-toc-inner,
:is(.md-toc-h1, .md-toc-h2, .md-toc-h3, .md-toc-h4, .md-toc-h5, .md-toc-h6):hover .md-toc-inner {
  font-size      : var(--contents-h2-to-h6-size);
  font-family    : var(--contents-h2-to-h6-font);
  color          : var(--contents-h2-to-h6-color);
  text-decoration: none;
  border         : none;
}

/* 增大正文目录的点击范围 */
#write :is(.md-toc-h1, .md-toc-h1:hover) .md-toc-inner {
  border-right: var(--contents-h1-click-right-border-width) solid transparent;
}

#write :is(.md-toc-h2, .md-toc-h2:hover) .md-toc-inner {
  border-right: var(--contents-h2-click-right-border-width) solid transparent;
}

#write :is(.md-toc-h3, .md-toc-h3:hover) .md-toc-inner {
  border-right: var(--contents-h3-click-right-border-width) solid transparent;
}

#write :is(.md-toc-h4, .md-toc-h4:hover) .md-toc-inner {
  border-right: var(--contents-h4-click-right-border-width) solid transparent;
}

#write :is(.md-toc-h5, .md-toc-h5:hover) .md-toc-inner {
  border-right: var(--contents-h5-click-right-border-width) solid transparent;
}

#write :is(.md-toc-h6, .md-toc-h6:hover) .md-toc-inner {
  border-right: var(--contents-h6-click-right-border-width) solid transparent;
}

/* 正文目录悬浮底色 */
#write :is(.md-toc-h1, .md-toc-h2, .md-toc-h3, .md-toc-h4, .md-toc-h5, .md-toc-h6):hover {
  background-color: var(--hover-contents-headline-bg-color);
  border-radius   : 3px;
  transition      : background-color .4s ease;
}

.md-toc .md-toc-content .md-toc-h1 {
  margin-top: 10px;
}

.md-toc-content .md-toc-h1 .md-toc-inner {
  margin-left: 0em;
}

.md-toc-content .md-toc-h2 .md-toc-inner {
  margin-left: .8em;
}

.md-toc-content .md-toc-h3 .md-toc-inner {
  margin-left: 2em;
}

.md-toc-content .md-toc-h4 .md-toc-inner {
  margin-left: 3.2em;
}

.md-toc-content .md-toc-h5 .md-toc-inner {
  margin-left: 4.4em;
}

.md-toc-content .md-toc-h6 .md-toc-inner {
  margin-left: 5.6em;
}