/* 本文件为网站 logo 设置 */
/* ================================================================= */


/*
选择器                  描述
attribute              用于选取带有指定属性的元素。
attribute=value        用于选取带有指定属性和值的元素。
attribute~=value       用于选取属性值中包含指定词汇的元素。
attribute|=value       用于选取带有以指定值开头的属性值的元素，该值必须是整个单词。
attribute^=value       匹配属性值以指定值开头的每个元素。
attribute$=value       匹配属性值以指定值结尾的每个元素。
attribute*=value       匹配属性值中包含指定值的每个元素。
源自：https: //www.w3school.com.cn/css/css_selector_attribute.asp
*/


a::before {
  display          : inline-block;
  position         : relative;
  background-repeat: no-repeat;
  background-size  : 1.1em 1.1em;
  top              : 0.2em;
  width            : 1.1em;
  height           : 1.1em;
  margin-right     : 0.2em;
}

a[href*="aliyundrive.com"]::before {
  content         : "";
  background-image: url("../Images/Favicon/aliyundrive.ico");
}

a[href*="iconfont.cn"]::before {
  content         : "";
  background-image: url("../Images/Favicon/iconfont.ico");
}

a[href*="ld246.com"]::before {
  content         : "";
  background-image: url("../Images/Favicon/liandi.svg");
}

a[href*="obsidian.md"]::before {
  content         : "";
  background-image: url("../Images/Favicon/obsidian.ico");
}

a[href*="baidu.com"]::before {
  content         : "";
  background-image: url("../Images/Favicon/baidu.svg");
}

a[href*="bilibili.com"]::before {
  content         : "";
  background-image: url("../Images/Favicon/bilibili.svg");
}

a[href*="cn.bing.com"]::before {
  content         : "";
  background-image: url("../Images/Favicon/bing.svg");
}

a[href*="cnblogs.com"]::before {
  content         : "";
  background-image: url("../Images/Favicon/cnblogs2.svg");
}

a[href*="csdn.net"]::before {
  content         : "";
  background-image: url("../Images/Favicon/csdn.svg");
}

a[href*="gitee.com"]::before {
  content         : "";
  background-image: url("../Images/Favicon/gitee.svg");
}

a[href*="github.com"]::before {
  content         : "";
  background-image: url("../Images/Favicon/github.svg");
}

a[href*="lanzou.com"]::before,
a[href*="lanzoui.com"]::before,
a[href*="lanzoux.com"]::before,
a[href*="lanzous.com"]::before {
  content         : "";
  background-image: url("../Images/Favicon/lanzou.svg");
}

a[href*="jianguoyun.com"]::before {
  content         : "";
  background-image: url("../Images/Favicon/jianguoyun.svg");
}

a[href*="pan.baidu.com"]::before {
  content         : "";
  background-image: url("../Images/Favicon/pan.baidu.svg");
}

a[href*="imooc.com"]::before {
  content         : "";
  background-image: url("../Images/Favicon/imooc.svg");
}

a[href*="icourse163.org"]::before {
  content         : "";
  background-image: url("../Images/Favicon/icourse163.png");
}

a[href*="developer.mozilla.org"]::before {
  content         : "";
  background-image: url("../Images/Favicon/mozilla.png");
}

a[href*="runoob.com"]::before {
  content         : "";
  background-image: url("../Images/Favicon/runoob.ico");
}

a[href*="sspai.com"]::before {
  content         : "";
  background-image: url("../Images/Favicon/sspai.svg");
}

a[href*="taobao.com"]::before {
  content         : "";
  background-image: url("../Images/Favicon/taobao.svg");
}

a[href*="jd.com"]::before {
  content         : "";
  background-image: url("../Images/Favicon/jingdong.svg");
}

a[href*="mi.com"]::before {
  content         : "";
  background-image: url("../Images/Favicon/mi.svg");
}

a[href*="yuque.com"]::before {
  content         : "";
  background-image: url("../Images/Favicon/yuque.svg");
}

a[href*="zhihu.com"]::before {
  content         : "";
  background-image: url("../Images/Favicon/zhihu.svg");
}

a[href*="jianshu.com"]::before {
  content         : "";
  background-image: url("../Images/Favicon/jianshu.svg");
}

a[href*="appinn.com"]::before {
  content         : "";
  background-image: url("../Images/Favicon/appinn.jpg");
}

a[href*="topbook.cc"]::before {
  content         : "";
  background-image: url("../Images/Favicon/topbook.png");
}

a[href*="open.163.com"]::before {
  content         : "";
  background-image: url("../Images/Favicon/open.163.ico");
}

a[href*="study.163.com"]::before {
  content         : "";
  background-image: url("../Images/Favicon/study.163.svg");
}

a[href*="coding.net"]::before {
  content         : "";
  background-image: url("../Images/Favicon/coding.svg");
}