/* 本文件为字体引用设置 */
/* ================================================================= */


/* ——————————————————————————————— 中文字体 ——————————————————————————————— */
/* 目录中文 */
@font-face {
  font-family : "玄宋45S";
  src         : url("../Fonts/Chinese-Fonts/HYXuanSong45S.woff2");
  font-display: swap;
}

/* 侧边栏、右键菜单、底部栏、引用块、代码块、脚注 */
@font-face {
  font-family : "霞鹜文楷";
  src         : url("../Fonts/Chinese-Fonts/LXGWWenKaiScreen.woff2");
  font-display: swap;
}

/* 标题、加粗 */
@font-face {
  font-family : "HarmonyOS-Bold";
  src         : url("../Fonts/Chinese-Fonts/HarmonyOS_Sans_SC_Bold.woff2");
  font-display: swap;
}

/* 正文中文 */
@font-face {
  font-family : "HarmonyOS-Regular";
  src         : url("../Fonts/Chinese-Fonts/HarmonyOS_Sans_SC_Regular.woff2");
  font-display: swap;
}

/* 标点符号 */
@font-face {
  font-family : "Zhudou";
  src         : url("../Fonts/Chinese-Fonts/Zhudou.Sans-VF.ttf");
  font-display: swap;
}

/* ——————————————————————————————— 英文字体 ——————————————————————————————— */
@font-face {
  font-family : "Lora-Regular";
  src         : url("../Fonts/English-Fonts/Lora-Regular.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Lora-Bold";
  src        : url("../Fonts/English-Fonts/Lora-Bold.woff2");
}

/* 行间代码 */
@font-face {
  font-family: "Fira";
  src        : url("../Fonts/English-Fonts/FiraCode-Regular.woff2");
}

/* 右键菜单英文 */
@font-face {
  font-family: "RobotoMono";
  src        : url("../Fonts/English-Fonts/RobotoMono-Regular.woff2");
}

/* 引用块、侧边栏、正文英文 */
@font-face {
  font-family : "HarmonyOS-Sans";
  src         : url("../Fonts/English-Fonts/HarmonyOS_Sans_Regular.woff2");
  font-display: swap;
}

/* Typora 默认显示 HTML 代码的字体 */
@font-face {
  font-family: "Lucida";
  src        : url("../Fonts/English-Fonts/Lucida-Sans-Typewriter-Regular.woff2");
}

/* —————————————————————————————————————————— 简化字体 —————————————————————————————————————————— */
/* 链接尾部图标 */
@font-face {
  font-family : "ITS";
  src         : url("../Fonts/Iconfont/its.woff");
  font-display: swap;
}

/* 只能显示 脚注文件大纲查找 */
@font-face {
  font-family : "三极古拙楷书简";
  src         : url("../Fonts/Simplify-Fonts/三极古拙楷书简.woff2");
  font-display: swap;
}

/* 字体图标 */
@font-face {
  font-family : "iconfont";
  src         : url("../Fonts/Iconfont/iconfont.woff2") format("truetype");
  font-display: swap;
}

/* H1 → H6 标题等级提示符号 */
@font-face {
  font-family : "remixicon";
  src         : url("../Fonts/Iconfont/remixicon.woff2") format("truetype");
  font-display: swap;
}

/* 下面是图标名 */
.iconfont {
  font-family            : "iconfont" !important;
  font-size              : 16px;
  font-style             : normal;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}