/* 本文件为脚注设置 */
/* ================================================================= */


/* —————————————————————————————— 正文脚注 —————————————————————————————— */
#write .md-footnote {
  font-family     : "HarmonyOS-Regular";
  font-size       : var(--writeArea-footnote-size);
  background-color: var(--writeArea-footnote-bg-color);
  color           : var(--writeArea-footnote-color);
  border-radius   : 3px;
  padding         : 2px;
}

/* 正文脚注样式 []  ` */
#write .md-footnote>.md-text::before,
#write .md-footnote>.md-text::after {
  display    : var(--writeArea-footnote-text-brackets-state);
  font-family: "Fira";
  color      : var(--writeArea-footnote-text-brackets-color);
  font-size  : var(--writeArea-footnote-text-brackets-size);
}

/* 前 */
#write .md-footnote>.md-text::before {
  content: "[";
}

/* 后 */
#write .md-footnote>.md-text::after {
  content: "]";
}

/* 光标定位在脚注上的默认样式符号 [^ ] */
#write .md-footnote.md-expand .md-before,
#write .md-footnote.md-expand .md-after {
  opacity    : 1;
  color      : var(--focus-footnote-default-prompt-symbol-color);
  font-family: "Fira";
}

/* 调整脚注位置 */
#write sup {
  top: var(--writeArea-footnote-text-top-position);
}

/* 正文脚注悬浮框 */
.code-tooltip.md-hover-tip {
  background   : var(--hover-writeArea-footnote-tip-bg-color);
  font-size    : var(--hover-writeArea-footnote-tip-text-size);
  border-radius: 3px;
  padding      : 0;
  box-shadow   : none;
  min-width    : 50px;
  font-family  : "HarmonyOS-Sans", "霞鹜文楷";
  opacity      : 1;
  box-shadow   : 0px 0px 10px rgb(0 0 0 / 25%);
}

/* 悬浮框内容 */
.md-hover-tip .code-tooltip-content {
  opacity    : .9;
  margin-top : -2px;
  line-height: 1.2em;
  color      : var(--hover-writeArea-footnote-tip-text-color);
  text-align : inherit;
}

/* 小三角 */
.md-hover-tip .md-arrow:after {
  background: var(--hover-writeArea-footnote-tip-bg-color);
}

.footnotes img,
.md-f-tooltip img {
  width       : 25%;
  float       : left;
  margin-right: 5px;
  margin-top  : 5px;
}


/* —————————————————————————————— 脚注内容 —————————————————————————————— */
#write .md-def-footnote {
  font-size  : var(--end-footnote-area-text-size);
  font-family: "HarmonyOS-Sans", "霞鹜文楷" !important;
  color      : var(--end-footnote-area-text-color);
  opacity    : 1;
  position   : relative;
  line-height: 2;
}

/* 脚注编号 */
#write .md-def-footnote .md-def-name {
  font-weight: normal;
  font-size  : inherit;
  padding    : 0 7px 0 10px;
}

/* 光标定位在脚注上的默认样式符号 [^ ] */
.md-def-footnote .md-def-name::before,
.md-def-footnote .md-def-name::after {
  font-weight: normal;
  color      : var(--focus-footnote-default-prompt-symbol-color);
}

.md-def-footnote .md-def-name::before {
  content: "[";
  left   : 3px;
}

.md-def-footnote .md-def-name::after {
  content: "]";
}

/* 序号与内容的分隔空间 */
.md-def-footnote .md-def-split {
  display  : inline-block;
  width    : 0px;
  min-width: auto;
}

/* 冒号 */
.md-def-footnote .md-def-content::before {
  font-family: "iconfont";
  content    : "\e625";
  position   : relative;
  top        : 0;
  left       : 0;
  line-height: 1;
}

/* —————————————————————————————— 脚注提示 —————————————————————————————— */
/* 给脚注提示样式让位 */
.footnotes {
  margin-top   : 2rem !important;
  margin-bottom: 0 !important;
  position     : relative;
}

.footnotes+.footnotes {
  margin-top: 0 !important;
}

/* 右上方提示文字 */
.footnotes::after {
  display    : var(--end-footnote-area-prompt-state);
  font-family: var(--end-footnote-area-prompt-content-font);
  content    : var(--end-footnote-area-prompt-content);
  font-size  : var(--end-footnote-area-prompt-content-size);
  color      : var(--end-footnote-area-prompt-color);
  top        : -1px;
  right      : 3px;
  font-weight: normal;
  line-height: 1.8;
  position   : absolute;
}

/* 保证只有第一个脚注内容上方有提示 */
.footnotes+.footnotes::before,
.footnotes+.footnotes::after {
  display: none;
}

/* 分隔脚注内容与提示样式 */
.footnotes {
  padding-top: 12px;
  border-top : var(--footnote-content-prompt-divider);
}

.footnotes+.footnotes {
  padding-top: 0;
  border-top : none;
}

/* ———————————————————— 脚注内容尾部符号 ———————————————————— */
/* 隐藏原有的脚注内容尾部符号 */
.footnotes .md-reverse-footnote-area a,
.footnotes .md-reverse-footnote-area a::selection {
  color   : transparent !important;
  position: relative;
  border  : none !important;
}

.footnotes .md-reverse-footnote-area a::after {
  font-family    : "iconfont";
  content        : "\e621";
  position       : absolute;
  bottom         : 0;
  left           : -7px;
  color          : var(--footnote-content-end-hook-color);
  height         : var(--footnote-content-end-hook-size);
  width          : var(--footnote-content-end-hook-size);
  display        : flex;
  align-items    : center;
  justify-content: center;
}

.footnotes .md-reverse-footnote-area a:hover::after {
  text-decoration : none !important;
  border-radius   : 3px;
  background-color: var(--hover-footnote-content-end-hook-bg-color);
  color           : var(--hover-footnote-content-end-hook-color) !important;
  cursor          : pointer;
  border-bottom   : none !important;
  transition      : all .3s ease;
}

/* 导出后，尾部符号 */
.reversefootnote {
  border: none !important;
  color : #2a68cc !important;
}

#write sup.md-footnote a {
  color           : inherit !important;
  border-bottom   : none !important;
  padding         : 1px;
  background-color: inherit;
}