/* 本文件为标题样式设置 */
/* ================================================================= */


/* ——————————————————————————————————— 基本设置 ——————————————————————————————————— */
#write :is(h2, h3, h4, h5, h6),
#write :is(h3 a, h4 a, h5 a, h6 a) {
  position      : relative;
  font-weight   : normal !important;
  line-height   : 1.3;
  cursor        : text;
  font-family   : var(--all-headline-font);
  letter-spacing: var(--headline-text-letter-space);
  color         : var(--h3-h4-color);
  border        : none !important;
}

/* 不建议使用五、六级标题，所以颜色调浅 */
#write :is(h5, h5 a) {
  color: var(--h5-color);
}

#write :is(h6, h6 a) {
  color: var(--h6-color);
}

#write h2 {
  font-size     : var(--h2-size);
  padding-bottom: var(--h2-text-bottom-line-distance);
  margin-bottom : 0;
}

#write :is(h3, h4, h5, h6) {
  margin-bottom: -5px;
  margin-top   : 2rem;
}

#write h3 {
  font-size: var(--h3-size);
}

#write h4 {
  font-size: var(--h4-size);
}

#write h5 {
  font-size: var(--h5-size);
}

#write h6 {
  font-size: var(--h6-size);
}

/* 标题为网址时，样式修改 */
:is(h1, h2, h3, h4, h5, h6):hover a.anchor {
  text-decoration: none !important;
  border         : none !important;
}

:is(h1, h2, h3, h4, h5, h6) tt,
:is(h1, h2, h3, h4, h5, h6) code {
  font-size: inherit !important;
}

#write :is(h1, h1 a) {
  font-family  : var(--all-headline-font);
  font-size    : var(--h1-size);
  color        : var(--h1-color);
  padding-top  : 2rem;
  margin-bottom: 3rem;
  line-height  : 1.4;
  text-align   : center;
  position     : relative;
}

h1 a {
  text-decoration: none !important;
  border         : none !important;
  color          : inherit !important;
}

/* 二级标题样式一 */
#write h2 {
  position: relative;
}

#write h2 span {
  color           : var(--h2-color);
  border-radius   : var(--h2-text-bg-radius);
  background-image: var(--h2-text-bg-color);
  padding         : 0 5px;
  margin-left     : .5px;
}

#write h2::after {
  background-color: var(--h2-bottom-border-color);
  height          : var(--h2-bottom-border-height);
  width           : 100%;
  display         : inline-block;
  content         : " ";
  position        : absolute;
  bottom          : 0;
  left            : 0.5px;
}

/* 二级标题样式二 */
/* #write h2,
#write h2::before {
  color      : var(--h2-color);
  font-family: var(--all-headline-font);
}

#write h2 span {
  background             : #ef7060;
  padding                : 3px 5px 1px;
  border-top-right-radius: 3px;
  border-top-left-radius : 3px;
  margin-right           : 3px;
}

#write h2:after {
  display       : inline-block;
  content       : "";
  vertical-align: bottom;
  border-bottom : 36px solid #dfd7d3;
  border-right  : 20px solid transparent;
}

#write h2 {
  border-bottom : 2.5px solid #ef7060 !important;
  padding-bottom: 0 !important;
} */

#write :is(h2 a, h2 a:hover) {
  border: none !important;
}


/* ——————————————————————————————————— 标题等级提示 ——————————————————————————————————— */
#write>:is(h2, h3, h4, h5, h6)::before {
  display       : var(--headline-rating-prompt-state);
  color         : var(--headline-rating-prompt-word-color) !important;
  font-family   : "remixicon";
  font-size     : var(--headline-rating-prompt-word-size) !important;
  position      : absolute;
  right         : calc(100% + 10px);
  bottom        : 0;
  border        : none;
  padding       : 0;
  letter-spacing: 1px;
  top           : 50%;
  transform     : translate(0, -50%);
  line-height   : 1;
}

#write h2::before {
  content: "\ede7";
}

#write :is(h3, h3.md-focus)::before {
  content: "\ede8";
}

#write :is(h4, h4.md-focus)::before {
  content: "\ede9";
}

#write>:is(h5, h5.md-focus)::before {
  content  : "\edea";
  top      : 44%;
  transform: translate(0, -44%);
}

#write :is(h6, h6.md-focus)::before {
  content: "\edeb";
  top    : calc(100% - 13.5px);
}

/* 防止光标定位在标题行上，提示文字抖动 */
#write :is(h3, h4, h3, h5, h6).md-focus::before {
  line-height: 1;
  border     : none;
  margin     : 0;
  padding    : 0;
  left       : auto;
}