/* 本文件为图片设置 */
/* ================================================================= */


img {
  border-radius: var(--image-radius);
  border       : none;
  transition   : .4s;
  width        : var(--image-size);
  box-shadow   : var(--image-shadow);
}

/* 鼠标悬浮，图片放大 */
.md-image:hover img {
  transform: scale(var(--hover-image-magnification));
}

/* 图片链接前图标 */
.md-focus .md-img-error>.md-meta:first-of-type:before,
.md-image>.md-meta:first-of-type:before {
  top: -2.5px;
}

/* 图片链接文字 */
.md-image>.md-meta {
  border-radius: 3px;
  font-family  : var(--image-link-text-font);
  padding      : 2px 0 0 4px;
  font-size    : var(--image-link-text-size);
  color        : var(--image-link-text-color);
}

/* 图片报错提示图标 */
.md-img-error>.md-meta:first-of-type:before {
  color    : var(--error-image-front-logo-color);
  font-size: 1.6rem;
}

/* 图片报错 */
/* .md-image:not(.md-image-multi-line)>.md-meta, */
.md-img-error>.md-meta {
  display       : inline;
  padding-bottom: 1px;
  border-bottom : var(--error-image-link-underline);
  border-radius : 0px !important;
  color         : var(--error-image-link-text-color);
}

/* 图片报错，链接文本加粗 */
.md-img-error .md-image-before-src.ty-focusable,
.md-img-error .md-image-src-span.ty-focusable,
.md-img-error .md-image-after-src {
  font-weight: var(--error-image-link-text-weight);
}

/* 图片加载失败，悬浮提示框 */
.md-image>.md-show-hint:after {
  color        : #f44336 !important;
  border-radius: 5px;
}

p>.md-img-loaded {
  position: relative;
}

/* 本地图片标识 */
/* p>.md-img-loaded[data-src]::before {
  content: url("./Iconfont/Img-logo/本地-实心1.svg");
  position: absolute;
  top: 7px;
  right: 7.8%;
  z-index: 99;
  line-height: 1;
  border-radius: 5px;
  padding: 0 3px;
  margin: 0 !important;
  transition: .4s;
}

.md-image:hover.md-img-loaded[data-src]::before {
  position: absolute;
  top: 0px;
  right: 7%;
} */

/* 网络图片标识 */
p>.md-img-loaded[data-src*="https"]::before,
p>.md-img-loaded[data-src*="http"]::before {
  content      : url("../Images/Images-Bed-Logo/default.svg");
  position     : absolute;
  top          : 5px;
  right        : 8%;
  z-index      : 99;
  line-height  : 1;
  border-radius: 5px;
  padding      : 0 3px;
  margin       : 0 !important;
  transition   : .4s;

  /* 代码二 可以调整图标大小 */
  /* display: block;
  content: " ";
  background-image: url("./src/云端.svg");
  background-position: right bottom;
  background-size: 20px;
  background-repeat: no-repeat;
  z-index: 99; */
}

.md-image:hover.md-img-loaded[data-src]::before {
  position: absolute;
  top     : 0px;
  right   : 7.2%;
}

/* gitee */
/* p>.md-img-loaded[data-src*="gitee"]::before {
  content: url("../Images/Images-Bed-Logo/gitee.svg") !important;
  position: absolute;
  top: 8px;
  right: 8%;
}

.md-image:hover.md-img-loaded[data-src*="gitee"]::before {
  top: 3px;
} */

/* GitHub */
/* p>.md-img-loaded[data-src*="github"]::before {
  content: url("../Images/Images-Bed-Logo/Github.svg") !important;
  position: absolute;
  top: 8px;
  right: 8%;
}

.md-image:hover.md-img-loaded[data-src*="github"]::before {
  top: 3px;
} */

/* coding */
/* p>.md-img-loaded[data-src*="coding"]::before {
  content: url("../Images/Images-Bed-Logo/coding.svg") !important;
  position: absolute;
  top: 8px;
  right: 8%;
}

.md-image:hover.md-img-loaded[data-src*="coding"]::before {
  top: 3px;
} */

/* jsDelivr */
/* p>.md-img-loaded[data-src*="jsdelivr"]::before {
  content: url("../Images/Images-Bed-Logo/jsDelivr.svg") !important;
  position: absolute;
  top: 5px;
right: 7.8%;
}

.md-image:hover.md-img-loaded[data-src*="jsdelivr"]::before {
  top: 0px;
  right: 7%;
} */

/* 阿里云 */
/* p>.md-img-loaded[data-src*="aliyun"]::before {
  content: url("../Images/Images-Bed-Logo/阿里云.svg") !important;
  position: absolute;
  top: 5px;
  right: 8%;
}

.md-image:hover.md-img-loaded[data-src*="aliyun"]::before {
  top: 0px;
} */

/* 腾讯云 */
/* p>.md-img-loaded[data-src*="myqcloud"]::before {
  content: url("../Images/Images-Bed-Logo/腾讯云.svg") !important;
  position: absolute;
  top: 7px;
  right: 8%;
}

.md-image:hover.md-img-loaded[data-src*="myqcloud"]::before {
  top: 2px;
} */

/* 又拍云 */
/* p>.md-img-loaded[data-src*="upcdn"]::before {
  content: url("../Images/Images-Bed-Logo/又拍云.svg") !important;
  position: absolute;
  top: 8px;
  right: 7.8%;
}

.md-image:hover.md-img-loaded[data-src*="upcdn"]::before {
  right: 7%;
  top: 3px;
} */

/* 七牛云 */
/* p>.md-img-loaded[data-src*="qiniu"]::before {
  content: url("../Images/Images-Bed-Logo/七牛云.svg") !important;
  position: absolute;
  top: 6px;
  right: 7.7%;
}

.md-image:hover.md-img-loaded[data-src*="jsdelivr"]::before {
  top: 2px;
  right: 6.9%;
} */