/* 本文件为侧边栏和底部栏设置 */
/* ================================================================= */


/* 侧边栏阴影 */
#typora-sidebar,
.typora-node #typora-sidebar {
  box-shadow: var(--sidebar-box-shadow);
}

/* 侧边栏查找框 */
#file-library-search-input {
  width        : 100%;
  height       : 24px;
  font-family  : var(--sidebar-searchBox-font);
  border-radius: var(--sidebar-searchBox-radius);
}

/* 侧边栏整体 */
.typora-node.pin-outline:not(.megamenu-opened):not(.typora-sourceview-on) #typora-sidebar {
  height                    : var(--sidebar-height);
  left                      : var(--sidebar-left-position);
  top                       : var(--sidebar-top-position);
  border-top-left-radius    : var(--sidebar-border-top-left-radius);
  border-top-right-radius   : var(--sidebar-border-top-right-radius);
  border-bottom-right-radius: var(--sidebar-border-bottom-right-radius);
  border-bottom-left-radius : var(--sidebar-border-bottom-left-radius);
  font-family               : var(--sidebar-word-font);
  background-color          : var(--sidebar-whole-bg-color);
  border                    : none!important;
}

/* 底部栏距离侧边栏 margin-left 值 = 上面的 left 值 */
/* .pin-outline #outline-btn {
  margin-left: 10px;
} */

/* 调整正文，使之居中。padding-left 值 = 上面的 left 值 / 2 */
/* .typora-node #write {
  padding-right: 35px !important;
} */

/* 使底部栏上框线与侧边栏底部上框线对齐 */
footer.ty-footer {
  height: 31px;
}

/* 侧边栏顶部 */
.info-panel-tab {
  /* 大纲、文件下方横条宽度 */
  width  : var(--topBar-content-bottom-line-width);
  opacity: 1;
}

/* 侧边栏顶部文字 */
.info-panel-tab-title {
  font-family   : var(--sidebar-topBar-content-font);
  font-size     : var(--sidebar-topBar-content-size) !important;
  line-height   : 1.2rem;
  padding-bottom: var(--topBar-content-bottom-line-distance);
  color         : var(--sidebar-topBar-content-color);
}

/* 大纲、文件、查找下方横条 */
.active-tab-files #info-panel-tab-file .info-panel-tab-border,
.active-tab-outline #info-panel-tab-outline .info-panel-tab-border,
.ty-show-search #info-panel-tab-search .info-panel-tab-border {
  /* 大纲、文件下方横条高度 */
  height          : var(--topBar-content-bottom-line-height);
  background-color: var(--topBar-content-bottom-line-color);
  transition      : all var(--content-bottom-line-animation-time) ease;
}

/* .info-panel-tab-title[data-localize="Outline"] {
  font-family: "三极古拙楷书简";
  font-size: 1.1rem !important;
  line-height: 1.2rem;
  padding-bottom: 0.2rem;
}

.info-panel-tab-title[data-localize="Files"] {
  font-family: "三极古拙楷书简";
  font-size: 1.1rem !important;
  line-height: 1.2rem;
  padding-bottom: 0.2rem;
} */


/* ——————————————————————————————————————————— 大纲页 ———————————————————————————————————————————— */
/* 大纲页整体设置 */
#outline-content {
  font-family  : var(--sidebar-outline-text-font);
  font-size    : var(--sidebar-outline-text-size);
  padding      : var(--sidebar-outline-padding);
  color        : var(--sidebar-outline-text-color);
  display      : block;
  height       : 100%;
  overflow-x   : hidden;
  margin-bottom: 10px;
  word-break   : break-all;
}

/* 悬浮去掉下划线 */
.outline-label:hover {
  text-decoration: none;
}

/* 大纲标题 */
.outline-item {
  padding-top   : 3px;
  padding-bottom: 3px;
  padding-right : var(--right-line-headline-text-distance);
  cursor        : pointer;
  line-height   : var(--sidebar-all-headline-line-height);
}

/* 侧边栏大纲选中突出样式 */
.outline-item.outline-item-active {
  color           : var(--active-outline-headline-color);
  background-color: var(--active-outline-headline-bg-color);
  border-radius   : var(--active-outline-headline-bg-radius);
  font-family     : var(--active-outline-headline-font);
  font-size       : var(--active-outline-headline-size);
  position        : relative;
}

/* 选中大纲末尾小竖线 */
.outline-item.outline-item-active::after {
  position        : absolute;
  content         : " ";
  top             : calc(50% - var(--active-outline-headline-rightLine-top-position));
  right           : var(--active-outline-headline-rightLine-right-position);
  background-color: var(--active-outline-headline-right-line-color);
  width           : var(--active-outline-headline-right-line-width);
  height          : var(--active-outline-headline-right-line-length);
  border-radius   : var(--active-outline-headline-right-line-radius);
}

/* 侧边栏悬浮样式 */
.outline-item:hover {
  z-index         : 10;
  background-color: var(--hover-sidebar-outline-headline-bg-color);
  transition      : background-color var(--hover-sidebar-outline-headline-animation-time) ease;
}

/* 侧边栏大纲层级线 */
/* 一级标题 */
.outline-item-open.outline-h1.outline-item-wrapper li::before {
  display         : var(--sidebar-h1-outline-Vertical-line-state);
  content         : "";
  position        : absolute;
  height          : 100%;
  width           : var(--sidebar-h1-outline-Vertical-line-width);
  background-color: var(--sidebar-h1-outline-Vertical-line-color);
  left            : var(--sidebar-h1-Vertical-line-left-distance);
  z-index         : 99;
}

/* 二级标题 */
.outline-item-open.outline-h2.outline-item-wrapper li::before {
  display         : var(--sidebar-h2-outline-Vertical-line-state);
  content         : "";
  position        : absolute;
  height          : 100%;
  width           : var(--sidebar-h2-outline-Vertical-line-width);
  background-color: var(--sidebar-h2-outline-Vertical-line-color);
  left            : var(--sidebar-h2-Vertical-line-left-distance);
  z-index         : 99;

}

/* 三级标题 */
.outline-item-open.outline-h3.outline-item-wrapper li::before {
  display         : var(--sidebar-h3-outline-Vertical-line-state);
  content         : "";
  position        : absolute;
  height          : 100%;
  width           : var(--sidebar-h3-outline-Vertical-line-width);
  background-color: var(--sidebar-h3-outline-Vertical-line-color);
  left            : var(--sidebar-h3-Vertical-line-left-distance);
  z-index         : 99;
}

/* 四级标题 */
.outline-item-open.outline-h4.outline-item-wrapper li::before {
  display         : var(--sidebar-h4-outline-Vertical-line-state);
  content         : "";
  position        : absolute;
  height          : 100%;
  width           : var(--sidebar-h4-outline-Vertical-line-width);
  background-color: var(--sidebar-h4-outline-Vertical-line-color);
  left            : var(--sidebar-h4-Vertical-line-left-distance);
  z-index         : 99;
}

/* 五级标题 */
.outline-item-open.outline-h5.outline-item-wrapper li::before {
  display         : var(--sidebar-h5-outline-Vertical-line-state);
  content         : "";
  position        : absolute;
  height          : 100%;
  width           : var(--sidebar-h5-outline-Vertical-line-width);
  background-color: var(--sidebar-h5-outline-Vertical-line-color);
  left            : var(--sidebar-h5-Vertical-line-left-distance);
  z-index         : 99;
}

/* 标题缩进 */
.outline-h2>.outline-item {
  padding-left: 1.2rem;
}

.outline-h3>.outline-item {
  padding-left: 2.4rem;
}

.outline-h4>.outline-item {
  padding-left: 3.6rem;
}

.outline-h5>.outline-item {
  padding-left: 4.8rem;
}

.outline-h6>.outline-item {
  padding-left: 7.2rem;
}

ul .outline-children::before {
  border: none;
}

/* 大纲前符号 */
.outline-expander {
  width         : 1.4rem;
  height        : 1.4rem;
  position      : relative;
  display       : table-cell;
  vertical-align: middle;
  cursor        : pointer;
  padding-left  : 4px;
  padding-right : 4px;
  color         : var(--sidebar-outline-left-triangle-color);
}

/* 大纲前列表符号（折叠）（默认状态） */
.outline-expander::before,
.outline-expander:hover::before {
  content    : "\e644";
  font-family: 'iconfont';
  position   : absolute;
  top        : var(--outline-left-triangle-top-position);
  font-size  : var(--sidebar-outline-left-triangle-size);
  padding    : var(--hover-outline-left-triangle-bg-scope);
  transform  : rotate(0deg);
  line-height: 1;
}

/* 大纲列表前符号（展开） */
.outline-item-open>.outline-item>.outline-expander:before {
  content    : "\e644";
  font-family: 'iconfont';
  font-size  : var(--sidebar-outline-left-triangle-size);
  padding    : var(--hover-outline-left-triangle-bg-scope);
  transform  : rotate(90deg);
}

/* 大纲折叠、展开时的动画 */
.outline-expander:hover::before,
.outline-item-open>.outline-item>.outline-expander:hover::before {
  padding         : var(--hover-outline-left-triangle-bg-scope);
  background-color: var(--hover-outline-left-triangle-bg-color);
  border-radius   : 3px;
  transition      : all var(--sidebar-outline-open-fold-animation-time) ease;
  color           : var(--hover-outline-left-triangle-color);
}

/* 去除六级标题前的小三角 */
.outline-h6 .outline-expander {
  display: var(--sidebar-outline-h6-left-triangle-state);
}

/* ——————————————————————————————————————————— 文件页 ——————————————————————————————————————————— */
/* 侧边栏（文件）设置 */
#file-library {
  font-family: var(--sidebar-filetree-text-font);
  color      : var(--sidebar-filetree-text-color);
  font-size  : var(--sidebar-filetree-text-size);
}

/* 侧边栏（文件） */
.use-file-tree-style #file-library-tree {
  display      : block;
  padding-right: 0;
  padding-left : 0;
}

.file-node-content {
  padding-left     : 8px;
  /* white-space   : nowrap; */
}

/* 侧边栏（文件）换行 */
.allow-file-tree-scroll .file-node-title {
  /* white-space: normal; */
  padding-right: 20px;
  /* text-align: justify; */
}

/* 新建文件处文字样式 */
.active-tab-files.use-file-tree-style:not(.ty-no-mount-folder) .sidebar-footer {
  font-family: var(--sidebar-filetree-text-font);
}

/* 侧边栏小三角 */
.file-node-open-state {
  position     : relative;
  cursor       : pointer;
  padding-left : 0px;
  padding-right: 0px;
  color        : var(--sidebar-filetree-left-triangle-color);
}

/* 文件夹前小三角（折叠） */
.file-node-open-state .fa-caret-down:before,
/* 文件夹前小三角（打开） */
.file-node-open-state .fa-caret-right:before {
  font-family: "iconfont";
  content    : "\e644";
  font-size  : var(--sidebar-filetree-left-triangle-size);
  position   : absolute;
}

.file-node-open-state .fa-caret-right:before {
  top      : 4px;
  left     : -5px;
  transform: rotate(0deg);
}

.file-node-open-state .fa-caret-down:before {
  top      : 4px;
  left     : -5px;
  transform: rotate(90deg);
}

/*  MD 文件小图标 */
.fa-file-text-o:before {
  content      : "\e946";
  padding-left : 5px;
  font-family  : "iconfont";
  position     : relative;
  top          : -1px;
  left         : 0px;
  font-size    : var(--sidebar-filetree-mdFile-logo-size);
  color        : var(--sidebar-filetree-mdFile-logo-color);
  padding-right: var(--sidebar-mdFile-logo-filename-distance);
}

/* 文件夹小图标 */
.fa-folder:before {
  content      : "\e61d";
  font-family  : "iconfont";
  margin-left  : 4px;
  font-size    : var(--sidebar-filetree-folder-left-logo-size);
  color        : var(--sidebar-filetree-folder-left-logo-color);
  padding-right: var(--folder-left-logo-foldername-distance);
}

/* 悬浮文件夹 */
.file-node-content:hover .fa-folder:before {
  transition: all 0.3s ease;
  color     : var(--hover-sidebar-foldername-left-logo-color);
}

/* 小三角 */
.file-node-open-state .fa-caret-right:hover::before,
.file-node-open-state .fa-caret-down:hover::before,
.file-node-content:hover .fa-caret-right::before,
.file-node-content:hover.fa-caret-down::before {
  transition: all 0.3s ease;
  color     : var(--hover-filetree-left-triangle-color);
}

/* 去掉侧边栏文件点击虚线框 */
.file-library-node:not(.file-node-root):focus>.file-node-content {
  outline: none !important;
}

/* 文件悬浮样式 */
.file-node-content:hover {
  background-color   : var(--hover-sidebar-filetree-filename-bg-color);
  transition         : background-color var(--hover-filetree-filename-animation-time) ease;
  /* border-radius   : 5px; */
  cursor             : pointer;
  padding-bottom     : 1px;
  margin-bottom      : -1px;
}

.file-node-content {
  padding-left: 100px;
  margin-left : -100px;
}

/* 选中文件样式（MD 文件） */
.file-tree-node .file-tree-node.active>.file-node-background {
  border-right    : var(--active-filetree-mdFile-name-right-line);
  border-left     : none;
  background-color: var(--active-filetree-mdFile-name-bg-color);
  color           : var(--active-filetree-mdFile-name-color) !important;
}

/* 当前编辑 MD 文件 */
.file-tree-node.active .fa-file-text-o:before {
  color: var(--active-filetree-mdFile-logo-color);
}

.file-tree-node {
  transition-duration: unset !important;
  padding-left       : 10px;
}

.file-node-expanded>.file-node-children:not(:only-child) {
  position   : relative;
  margin-left: 10px;
  display    : block;
}

.file-node-expanded>.file-node-children::before {
  display         : var(--sidebar-filetree-folder-left-line-state);
  content         : "";
  position        : absolute;
  width           : var(--sidebar-filetree-folder-left-line-width);
  height          : 100%;
  background-color: var(--sidebar-filetree-folder-left-line-color);
  left            : -9.5px;
  z-index         : 99;
  /* 虚线 */
  /* background   : linear-gradient(to bottom, #a7bbc3, #a7bbc3 7.5px, transparent 7.5px, transparent);
  background-size : 100% 15px; */
}

/* 侧边栏列表模式，文件文本溢出效果 */
.file-list-item-summary {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow          : hidden;
  word-break        : break-all;
  display           : -webkit-box;
}

/* 侧边栏文件（列表模式）文件名 */
span.file-list-item-file-name-part {
  font-family: 'HarmonyOS-Bold';
}

/* 文件夹折叠 */
/* .file-library-node .file-tree-node.file-node-collapsed {
  padding-left: 15px;
} */

/* 文件夹展开 */
/* .file-library-node .file-tree-node.file-node-expanded {
  padding-left: 15px;
} */

/* ———————————————————————————————————————————— 底部栏 ———————————————————————————————————————————— */
/* 底部栏 */
.show-footer footer.ty-footer,
.typora-node.pin-outline:not(.megamenu-opened):not(.typora-sourceview-on) footer.ty-footer {
  font-family: var(--bottom-bar-text-font);
  font-size  : var(--bottom-bar-text-size);
  color      : var(--bottom-bar-text-color);
  opacity    : 1 !important;
  background-color: var(--interface-default-bg-color);
}

/* 字数统计、拼写检查 */
#footer-spell-check,
#footer-word-count {
  opacity: 0.7;
}

/* 拼写检查框文本字体 */
.ty-spell-check-panel-item-label {
  font-size: var(--spell-check-panel-text-size);
  color    : var(--spell-check-panel-text-color);
  opacity  : 1 !important;
}

/* 拼写检查框 */
#spell-check-panel,
/* 语言简称 */
.ty-spell-check-panel-item-code {
  font-family: "RobotoMono-Simplify", "霞鹜文楷";
}

/* 数字与单位的距离 */
#footer-word-count-info td:nth-child(1) {
  padding-right: var(--character-statistics-column-number-unit-distance);
}

/* 字符统计内容整体 */
#footer-word-count-info li {
  padding-right: var(--character-statistics-column-padding);
  padding-left : var(--character-statistics-column-padding);
}

/* 字符统计栏字数统计一栏 */
#footer-word-count-info .footer-word-count-info-line {
  opacity    : 1 !important;
  position   : relative;
  font-size  : var(--character-statistics-column-headline-size);
  font-family: var(--character-statistics-column-headline-font);
  left       : var(--character-statistics-column-headline-position);
  color      : var(--character-statistics-column-headline-color);
}

/* 字符统计栏字数统计一栏图标 */
#footer-word-count-info .footer-word-count-info-line::before {
  display     : var(--character-statistics-column-headline-logo-state);
  content     : "\e609";
  font-family : "iconfont";
  font-size   : var(--character-statistics-column-headline-logo-size);
  color       : var --character-statistics-column-headline-logo-color;
  margin-right: var(--character-statistics-column-logo-headline-distance);
  position    : relative;
  top         : 1px;
}

/* 字符统计栏标题与内容分隔线 */
#footer-word-count-info .divider {
  border-top: var(--character-statistics-column-headline-content-divider);
  opacity   : 1;
}

/* 底部栏毛玻璃效果 */
/* footer.ty-footer {
  margin: 0 2rem;
  bottom: .3rem;
  box-shadow: 0px 0px 10px 0 rgb(0 0 0 / 20%);
  background: #dde7eb !important;
  border-radius: 5px;
  color: #555 !important;
}

footer.ty-footer:before {
  content: "";
  display: flex;
  width: 100%;
  backdrop-filter: blur(70px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -99;
  min-height: 80%;
  border-radius: 5px;
  background-blend-mode: overlay;
} */