/* 明亮模式下代码块语法高亮主题 */
/* ported from https://codemirror.net/theme/material.css */
/* 选择器解释参考：https://www.jb51.net/css/753133.html */
/* ================================================================= */


/* 行号区域 */
.cm-s-inner .CodeMirror-gutters {
  /* background: #263238; */
  color : rgb(87, 127, 83);
  border: none;
}

/* 选中文字背景 */
.cm-s-inner div.CodeMirror-selected {
  background: rgba(255, 255, 255, 0.15);
}

.cm-s-inner.CodeMirror-focused div.CodeMirror-selected {
  background: rgba(255, 255, 255, 0.1);
}

.cm-s-inner .CodeMirror-line::selection,
.cm-s-inner .CodeMirror-line>span::selection,
.cm-s-inner .CodeMirror-line>span>span::selection {
  background: rgba(255, 255, 255, 0.1);
}

.cm-s-inner .CodeMirror-line::-moz-selection,
.cm-s-inner .CodeMirror-line>span::-moz-selection,
.cm-s-inner .CodeMirror-line>span>span::-moz-selection {
  background: rgba(255, 255, 255, 0.1);
}

/* 关键字 */
.cm-s-inner .cm-keyword {
  color: #8f08c4;
}

/* 运算符 */
.cm-s-inner .cm-operator {
  color: #36374c;
}

/* 被使用的形参 */
.cm-s-inner .cm-variable-2 {
  color: #80cbc4;
}

/* 形参,类型 */
.cm-s-inner .cm-variable-3 {
  color: #82b1ff;
}

/* 被调用的属性 */
.cm-s-inner .cm-builtin {
  color: #6f42c1;
}

/* css属性值，布尔值等等 */
.cm-s-inner .cm-atom {
  color: #f77669;
}

/* 数字 */
.cm-s-inner .cm-number {
  color: #b4654d;
}

/* 变量名 */
.cm-s-inner .cm-def {
  color: #74531f;
}

/* 字符串 */
.cm-s-inner .cm-string {
  color: #b91919;
}

/* 正则表达式 */
.cm-s-inner .cm-string-2 {
  color: #80cbc4;
}

/* 注释 */
.cm-s-inner .cm-comment {
  color: #546e7a;
}

/* 被使用的变量名 */
.cm-s-inner .cm-variable {
  color: #000000;
}

/* 标签名 */
.cm-s-inner .cm-tag {
  color: #80cbc4;
}

/* 省略号、注解等 */
.cm-s-inner .cm-meta {
  color: #e96900;
}

/* 属性 */
.cm-s-inner .cm-attribute {
  color: #ffcb6b;
}

/* 被调用的方法 */
.cm-s-inner .cm-property {
  color: #005cc5;
}

/* css class */
.cm-s-inner .cm-qualifier {
  color: #f2ae49;
}

/* 形参,类型 */
.cm-s-inner .cm-variable-3 {
  color: #0000ff;
}

.cm-s-inner .cm-tag {
  color: #ff5370;
}

/* 错误 */
.cm-s-inner .cm-error {
  color           : #fff;
  background-color: #ec5f67;
}

.cm-s-inner .CodeMirror-matchingbracket {
  text-decoration: underline;
  color          : #fff !important;
}

.cm-s-inner .cm-link,
.cm-s-inner.cm-link {
  color: #22a2c9;
}

.cm-s-inner .cm-string {
  color: #a31515;
}

.md-fences .code-tooltip {
  background-color: #ffffff;
}

/* diff 样式，仿 GitHub */
.cm-negative {
  color           : #82071e;
  background-color: #ffebe9;
}

.cm-positive {
  color           : #116329;
  background-color: #dafbe1;
}