/* 本文件为正文目录样式设置 */


@import "fonts.css";


/* ————————————————————————————————————————————————— 目录设置 ———————————————————————————————————————*/

/* 正文目录整体 */
.md-toc-content {
  padding: 0 10px;
  margin: 0;
}

/* 增大一级标题 tab 的宽度 */
span.md-toc-item.md-toc-h1 a.md-toc-inner span {
  border-left: 2px transparent solid;
}

.md-toc {
  margin-top: 0.5em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  page-break-after: always;
}

/* 正文目录工具栏 */
#write div.md-toc-tooltip {
  background-color: transparent;
}

/* 正文目录样式 */
.md-toc::before {
  display: inline-block;
  /* 样式1 */
  /* 单词间有间隙 */
  /* content: "C" "\202F" "o" "\202F" "n" "\202F" "t" "\202F" "e" "\202F" "n" "\202F" "t" "\202F" "s"; */
  /* 样式2 */
  content: "Contents";
  font-family: "Lora-Regular";

  /* content: "目  录";
  font-family: "三极古拙楷书简"; */
  font-size: 2.4rem;
  font-weight: bolder;
  color: #396caf;
  line-height: 2;
  padding: 0 2px;
  width: 100%;
  line-height: 1;
  text-align: center;
  position: relative;
  top: -20px;
  margin-bottom: 1rem;
}

.md-toc-h1 {
  font-family: "HarmonyOS";
  font-weight: bolder;
}

.md-toc-h2:before,
.md-toc-h3:before,
.md-toc-h4:before,
.md-toc-h5:before,
.md-toc-h6:before {
  font-family: "RobotoMono-Simplify";
}

#write .md-toc-h1 .md-toc-inner,
#write .md-toc-h2 .md-toc-inner,
#write .md-toc-h3 .md-toc-inner,
#write .md-toc-h4 .md-toc-inner,
#write .md-toc-h5 .md-toc-inner,
#write .md-toc-h6 .md-toc-inner,
#write .md-toc-h1:hover .md-toc-inner,
#write .md-toc-h2:hover .md-toc-inner,
#write .md-toc-h3:hover .md-toc-inner,
#write .md-toc-h4:hover .md-toc-inner,
#write .md-toc-h5:hover .md-toc-inner,
#write .md-toc-h6:hover .md-toc-inner {
  color: #003172;
  text-decoration: none;
  border: none;
  font-weight: normal !important;
}

/* 增大正文目录的点击范围 */
#write .md-toc-h1 .md-toc-inner,
#write .md-toc-h1:hover .md-toc-inner {
  border-right: 370px solid transparent;
}

#write .md-toc-h2 .md-toc-inner,
#write .md-toc-h2:hover .md-toc-inner {
  border-right: 320px solid transparent;
}

#write .md-toc-h3 .md-toc-inner,
#write .md-toc-h3:hover .md-toc-inner {
  border-right: 285px solid transparent;
}

#write .md-toc-h4 .md-toc-inner,
#write .md-toc-h4:hover .md-toc-inner {
  border-right: 250px solid transparent;
}

#write .md-toc-h5 .md-toc-inner,
#write .md-toc-h5:hover .md-toc-inner {
  border-right: 220px solid transparent;
}

#write .md-toc-h6 .md-toc-inner,
#write .md-toc-h6:hover .md-toc-inner {
  border-right: 190px solid transparent;
}

/* 正文目录一级标题样式 */
#write .md-toc-h1 .md-toc-inner,
#write .md-toc-h1:hover .md-toc-inner {
  font-size: 1.05rem;
  color: #000 !important;
  font-weight: bolder !important;
}

/* 正文目录悬浮底色 */
.md-toc-h1:hover,
.md-toc-h2:hover,
.md-toc-h3:hover,
.md-toc-h4:hover,
.md-toc-h5:hover,
.md-toc-h6:hover {
  background-color: rgb(129, 178, 154, 0.2);
  border-radius: 5px;
  transition: background-color .5s;
}

.md-toc-h2,
.md-toc-h3,
.md-toc-h4,
.md-toc-h5,
.md-toc-h6 {
  font-size: 1rem;
  /* font-family: "HarmonyOS-Simplify", "玄宋45S"; */
  font-family: "RobotoMono-Simplify", "玄宋45S";
}

/* 第一个一级标题取消 margin */
.md-toc-content .md-toc-h1:first-child {
  margin-top: -10px;
}

.md-toc-h1 {
  margin-top: 10px;
}

.md-toc-h1 .md-toc-inner {
  margin-left: 0em;
}

.md-toc-h2 .md-toc-inner {
  margin-left: .8em;
}

/* 使用 RobotoMono-Simplify-Contents 字体 */
.md-toc-h3 .md-toc-inner {
  margin-left: 2em;
}

.md-toc-h4 .md-toc-inner {
  margin-left: 3.2em;
}

.md-toc-h5 .md-toc-inner {
  margin-left: 4.4em;
}

.md-toc-h6 .md-toc-inner {
  margin-left: 5.6em;
}


/* 使用 HarmonyOS-Simplify 字体 */
/* .md-toc-h3 .md-toc-inner {
  margin-left: 1.7em;
}

.md-toc-h4 .md-toc-inner {
  margin-left: 2.6em;
}

.md-toc-h5 .md-toc-inner {
  margin-left: 3.5em;
}

.md-toc-h6 .md-toc-inner {
  margin-left: 4.4em;
} */