/* 本文件为字体引用设置 */


/* 正文中文 */
@font-face {
  font-family: "玄宋45S";
  src: url("Chinese-fonts/HYXuanSong45S.woff2");
}

/* 侧边栏、右键菜单、底部栏、引用块、代码块、脚注、悬浮提示框中文 */
@font-face {
  font-family: "霞鹜文楷";
  src: url("Chinese-fonts/LXGWWenKai-Regular.woff2");
}

/* 标题、加粗 */
@font-face {
  font-family: "HarmonyOS";
  src: url("Chinese-fonts/HarmonyOS_Sans_SC_Regular.woff2");
}

/* 正文英文 */
@font-face {
  font-family: "Lora-Regular";
  src: url("English-fonts/Lora-Regular.woff2");
}

/* 斜体文字 */
@font-face {
  font-family: "Lora-Italic";
  src: url("English-fonts/Lora-Italic.woff2");
}

/* 行间代码 */
@font-face {
  font-family: "Fira";
  src: url("English-fonts/FiraCode-Regular.woff2");
}

/* 正文目录、侧边栏、脚注英文 */
/* 基于 RobotoMono-Regular，只能显示大小写字母、数字、英文标点 */
@font-face {
  font-family: "RobotoMono-Simplify";
  src: url("./Simplify-fonts/RobotoMono-Simplify.ttf");
}

/* 完整字体 */
@font-face {
  font-family: "RobotoMono";
  src: url("./English-fonts/RobotoMono-Regular.woff2");
}

/* 正文目录英文 */
/* 基于 HarmonyOS_Sans_SC_Regular，只能显示大小写字母、数字、英文标点 */
@font-face {
  font-family: "HarmonyOS-Contents";
  src: url("./Simplify-fonts/HarmonyOS-Simplify.ttf");
}

/* Typora 默认显示 HTML 代码的字体 */
@font-face {
  font-family: "Lucida";
  src: url("./English-fonts/Lucida-Sans-Typewriter-Regular.woff2");
}

/* 链接尾部图标 */
@font-face {
  font-family: "ITS";
  src: url("./Iconfont/its.woff");
}

/* 脚注 */
@font-face {
  font-family: "三极古拙楷书简";
  src: url("./Simplify-fonts/三极古拙楷书简.ttf") format("truetype");
}


/* 图标 */
@font-face {
  font-family: "iconfont";
  src: url("./Iconfont/iconfont.ttf") format("truetype");
}

/* 下面是图标名 */
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-markdown3:before {
  content: "\f1eb";
}

.icon-wenjianjia:before {
  content: "\e61d";
}

.icon-MD:before {
  content: "\e61a";
}

.icon-24gf-folderPlus:before {
  content: "\eac5";
}

.icon-markdown2:before {
  content: "\e607";
}

.icon-FileMarkdownFilled:before {
  content: "\e65c";
}

.icon-markdown:before {
  content: "\e946";
}

.icon-wenjianleixing-markdown:before {
  content: "\e741";
}

.icon-markdown1:before {
  content: "\e6ff";
}

.icon-zhibiaozhushibiaozhu:before {
  content: "\e7b4";
}

.icon-xinxi:before {
  content: "\e65e";
}

.icon-xinxi1:before {
  content: "\e630";
}

.icon-zhushi:before {
  content: "\e633";
}

.icon-xinxi1-copy:before {
  content: "\ec2f";
}

.icon-weixian:before {
  content: "\ea22";
}

.icon-xiangfa1:before {
  content: "\e66e";
}

.icon-tishi:before {
  content: "\e606";
}

.icon-tishi2:before {
  content: "\e614";
}

.icon-wenzhang-copy:before {
  content: "\e643";
}

.icon-zhuyi1:before {
  content: "\e610";
}

.icon-zhuyi2:before {
  content: "\e604";
}

.icon-zhuyi3:before {
  content: "\e663";
}

.icon-a-9:before {
  content: "\e605";
}

.icon-cankao:before {
  content: "\e68b";
}

.icon-cankaowenjian:before {
  content: "\e619";
}

.icon-yinyong:before {
  content: "\e634";
}

.icon-yinyong1:before {
  content: "\e62c";
}

.icon-yinyong2:before {
  content: "\e617";
}

.icon-yinyong2-copy-copy:before {
  content: "\e601";
}

.icon-wentijieda:before {
  content: "\ec2e";
}

.icon-zerenwenti:before {
  content: "\e656";
}

.icon-shuqian:before {
  content: "\e624";
}

.icon-star__:before {
  content: "\e670";
}

.icon-yiwen:before {
  content: "\e60c";
}

.icon-bookmark-full:before {
  content: "\ea0f";
}

.icon-xiangfa:before {
  content: "\e61e";
}