/* 本文件为毛玻璃效果 */


@import "./fonts.css";


body {
  background-color: transparent;
  background-image: url("./Background/灰绿.jpg");
  background-position: center;
  background-size: cover;
  margin: 10px auto;
}

content,
.on-focus-mode content,
#typora-sidebar {
  background-image: url("./Background/灰绿.jpg");
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}

content,
.on-focus-mode content {
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer.ty-footer {
  margin: 0 2rem;
  bottom: 1rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

#write,
ul.dropdown-menu,
.md-fences *,
footer.ty-footer,
.modal-content {
  background: transparent !important;
  border-radius: 5px;
}

#write:before,
#write:after,
ul.dropdown-menu:before,
#typora-sidebar:before,
footer.ty-footer:before,
#typora-quick-open:before,
.modal-content:before {
  content: "";
  display: flex;
  width: 100%;
  backdrop-filter: blur(70px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -99;
  min-height: 80%;
  border-radius: 6px;
  background-blend-mode: overlay;
  border: none;
}

.info-panel-tab,
#file-library-search,
#outline-content {
  z-index: 99;
}

#typora-sidebar:before {
  z-index: 1;
}

#typora-sidebar-resizer {
  background: transparent;
  backdrop-filter: blur(0px);
}


/* 以下为主题适配代码 */

.typora-node.pin-outline:not(.megamenu-opened):not(.typora-sourceview-on) #typora-sidebar {
  top: 0px !important;
  /* left: 10px; */
  border-radius: 0px;
  height: 100% !important;
  border: none !important;
  font-family: "RobotoMono-Simplify", "霞鹜文楷";
  background-color: transparent;
}

table.md-table td {
  min-width: 32px;
  background: transparent;
}

/* 调整右键菜单按钮底色 */
.menu-item-container a.menu-style-btn {
  background: transparent;
}

/* .native-window content {
  top: 9px;
} */