/* Based on arcticicestudio's Nord theme */
/* https://github.com/arcticicestudio/nord */

.cm-s-inner.CodeMirror {
  background: #2e3440;
  color: #d8dee9;
}

.cm-s-inner div.CodeMirror-selected {
  background: #434c5e;
}

.cm-s-inner .CodeMirror-line::selection,
.cm-s-inner .CodeMirror-line>span::selection,
.cm-s-inner .CodeMirror-line>span>span::selection {
  background: #3b4252;
}

.cm-s-inner .CodeMirror-line::-moz-selection,
.cm-s-inner .CodeMirror-line>span::-moz-selection,
.cm-s-inner .CodeMirror-line>span>span::-moz-selection {
  background: #3b4252;
}

.cm-s-inner .CodeMirror-gutters {
  background: #2e3440;
  border-right: 0px;
}

.cm-s-inner .CodeMirror-guttermarker {
  color: #4c566a;
}

.cm-s-inner .CodeMirror-guttermarker-subtle {
  color: #4c566a;
}

.cm-s-inner .CodeMirror-linenumber {
  color: #4c566a;
}

.cm-s-inner .CodeMirror-cursor {
  border-left: 1px solid #f8f8f0;
}

.cm-s-inner span.cm-comment {
  color: #4c566a;
}

.cm-s-inner span.cm-atom {
  color: #b48ead;
}

.cm-s-inner span.cm-number {
  color: #b48ead;
}

.cm-s-inner span.cm-comment.cm-attribute {
  color: #97b757;
}

.cm-s-inner span.cm-comment.cm-def {
  color: #bc9262;
}

.cm-s-inner span.cm-comment.cm-tag {
  color: #bc6283;
}

.cm-s-inner span.cm-comment.cm-type {
  color: #5998a6;
}

.cm-s-inner span.cm-property,
.cm-s-inner span.cm-attribute {
  color: #8FBCBB;
}

.cm-s-inner span.cm-keyword {
  color: #81A1C1;
}

.cm-s-inner span.cm-builtin {
  color: #81A1C1;
}

.cm-s-inner span.cm-string {
  color: #A3BE8C;
}

.cm-s-inner span.cm-variable {
  color: #d8dee9;
}

.cm-s-inner span.cm-variable-2 {
  color: #d8dee9;
}

.cm-s-inner span.cm-variable-3,
.cm-s-inner span.cm-type {
  color: #d8dee9;
}

.cm-s-inner span.cm-def {
  color: #8FBCBB;
}

.cm-s-inner span.cm-bracket {
  color: #81A1C1;
}

.cm-s-inner span.cm-tag {
  color: #bf616a;
}

.cm-s-inner span.cm-header {
  color: #b48ead;
}

.cm-s-inner span.cm-link {
  color: #b48ead;
}

.cm-s-inner span.cm-error {
  background: #bf616a;
  color: #f8f8f0;
}

.cm-s-inner .CodeMirror-activeline-background {
  background: #3b4252;
}

.cm-s-inner .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}