/*
选择器                  描述
attribute              用于选取带有指定属性的元素。
attribute=value        用于选取带有指定属性和值的元素。
attribute~=value       用于选取属性值中包含指定词汇的元素。
attribute|=value       用于选取带有以指定值开头的属性值的元素，该值必须是整个单词。
attribute^=value       匹配属性值以指定值开头的每个元素。
attribute$=value       匹配属性值以指定值结尾的每个元素。
attribute*=value       匹配属性值中包含指定值的每个元素。
源自：https: //www.w3school.com.cn/css/css_selector_attribute.asp
*/


@import "fonts.css";


a::before {
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
  background-size: 1.1em 1.1em;
  top: 0.2em;
  width: 1.1em;
  height: 1.1em;
  margin-right: 0.2em;
}

a[href*="aliyundrive.com"]::before {
  content: "";
  background-image: url("./Logo/aliyundrive.ico");
}

a[href*="iconfont.cn"]::before {
  content: "";
  background-image: url("./Logo/iconfont.ico");
}

a[href*="ld246.com"]::before {
  content: "";
  background-image: url("./Logo/liandi.svg");
}

a[href*="obsidian.md"]::before {
  content: "";
  background-image: url("./Logo/obsidian.ico");
}

a[href*="baidu.com"]::before {
  content: "";
  background-image: url("./Logo/baidu.svg");
}

a[href*="bilibili.com"]::before {
  content: "";
  background-image: url("./Logo/bilibili.svg");
}

a[href*="cn.bing.com"]::before {
  content: "";
  background-image: url("./Logo/bing.svg");
}

a[href*="cnblogs.com"]::before {
  content: "";
  background-image: url("./Logo/cnblogs2.svg");
}

a[href*="csdn.net"]::before {
  content: "";
  background-image: url("./Logo/csdn.svg");
}

a[href*="gitee.com"]::before {
  content: "";
  background-image: url("./Logo/gitee.svg");
}

a[href*="github.com"]::before {
  content: "";
  background-image: url("./Logo/github.svg");
}

a[href*="lanzou.com"]::before,
a[href*="lanzoui.com"]::before,
a[href*="lanzoux.com"]::before,
a[href*="lanzous.com"]::before {
  content: "";
  background-image: url("./Logo/lanzou.svg");
}

a[href*="jianguoyun.com"]::before {
  content: "";
  background-image: url("./Logo/jianguoyun.svg");
}

a[href*="pan.baidu.com"]::before {
  content: "";
  background-image: url("./Logo/pan.baidu.svg");
}

a[href*="imooc.com"]::before {
  content: "";
  background-image: url("./Logo/imooc.svg");
}

a[href*="icourse163.org"]::before {
  content: "";
  background-image: url("./Logo/icourse163.png");
}

a[href*="developer.mozilla.org"]::before {
  content: "";
  background-image: url("./Logo/mozilla.png");
}

a[href*="runoob.com"]::before {
  content: "";
  background-image: url("./Logo/runoob.ico");
}

a[href*="sspai.com"]::before {
  content: "";
  background-image: url("./Logo/sspai.svg");
}

a[href*="taobao.com"]::before {
  content: "";
  background-image: url("./Logo/taobao.svg");
}

a[href*="jd.com"]::before {
  content: "";
  background-image: url("./Logo/jingdong.svg");
}

a[href*="mi.com"]::before {
  content: "";
  background-image: url("./Logo/mi.svg");
}

a[href*="yuque.com"]::before {
  content: "";
  background-image: url("./Logo/yuque.svg");
}

a[href*="zhihu.com"]::before {
  content: "";
  background-image: url("./Logo/zhihu.svg");
}

a[href*="jianshu.com"]::before {
  content: "";
  background-image: url("./Logo/jianshu.svg");
}

a[href*="appinn.com"]::before {
  content: "";
  background-image: url("./Logo/appinn.jpg");
}

a[href*="topbook.cc"]::before {
  content: "";
  background-image: url("./Logo/topbook.png");
}

a[href*="open.163.com"]::before {
  content: "";
  background-image: url("./Logo/open.163.ico");
}

a[href*="study.163.com"]::before {
  content: "";
  background-image: url("./Logo/study.163.svg");
}

a[href*="coding.net"]::before {
  content: "";
  background-image: url("./Logo/coding.svg");
}